@page "/ApiKey"

@using DataAccessLibrary
@using DataAccessLibrary.Models
@using Amccloy.MusicBot.Asp.Net.Models
@using DataAccessLibrary.DiscordApiToken

@inject IDiscordApiTokenData TokenDatabase

<h3>Discord ApiKey</h3>

TODO: Add info here about how to find your api key

<h4>Add new Api Key</h4>
<p>Use the same servername to overwrite a key</p>
<EditForm Model="@_newToken" OnValidSubmit="@InsertToken">
    <DataAnnotationsValidator />
    <ValidationSummary />
    
    <InputText id="Server Name" @bind-Value="_newToken.ServerName" />
    <InputText id="Api Key" @bind-Value="_newToken.ApiKey" />
    
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

<h4>Current API Keys</h4>
@if (_tokens is null)
{
    <p><em>Loading...</em></p>
}
else
{
    if (!_tokens.Any())
    {
        <p><em>You have no Api Keys configured, add some!</em></p>
    }
    else
    {
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Server Name</th>
                <th>Api Key</th>
            </tr>
            </thead>
            <tbody>
                @foreach (var token in _tokens)
                {
                    <tr>
                        <th>@token.ServerName</th>
                        <th>@token.ApiKey</th>
                    </tr>
                }
            </tbody>
        </table>
    }
}

@code {
    private IEnumerable<DiscordApiToken> _tokens;
    private DiscordApiKeyModel _newToken = new DiscordApiKeyModel();

    protected override async Task OnInitializedAsync()
    {
        _tokens = await TokenDatabase.GetAllKeys();
    }

    private async Task InsertToken()
    {
        await TokenDatabase.InsertApiKey(new DiscordApiToken()
        {
            ApiKey = _newToken.ApiKey,
            ServerName = _newToken.ServerName
        });

        _tokens = await TokenDatabase.GetAllKeys();
        _newToken = new DiscordApiKeyModel();
    }

}